

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ZEALER - 科技生活方式第一站</title> 
<meta name="keywords" content="手机评测，数码产品测评，科技产品测评" />
<meta name="description" content="ZEALER 是中国权威的科技电子产品测评网站，由王自如等科技达人傾力打造，测评内容涉及手机的 Android，iOS，WP 等周边数码产品，致力于还原科技本质，为用户提供最专业的点评和最客观的资讯"/>
<meta property="qc:admins" content="271622326062514526375" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 
<link href="http://static.zealer.com/page/css/libs_98e9c.css" rel="stylesheet" type="text/css" /> 
<link href="http://static.zealer.com/page/css/global_4eae379709.css" rel="stylesheet" type="text/css" /> 
<link href="http://static.zealer.com/page/css/page_d849f56303.css" rel="stylesheet" type="text/css" /> 

<link rel="icon" href="/favicon.ico" />
<script>
var STATIC_HOST = 'http://static.zealer.com/';
var STAT_HOST = 'http://stat.wangziru.com/';
var WWW_HOST = 'http://www.zealer.com/';
</script>
<script>
//移动设备判断
var isMobile = {  
    Android: function() {  
        return navigator.userAgent.match(/Android/i) ? true : false;  
    },  
    BlackBerry: function() {  
        return navigator.userAgent.match(/BlackBerry/i) ? true : false;  
    },  
    iOS: function() {  
        return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;  
    },  
    Windows: function() {  
        return navigator.userAgent.match(/IEMobile/i) ? true : false;  
    },  
Phone: function() {
return navigator.userAgent.match(/Mobile/i) ? true : false; 
},
    any: function() {  
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.Windows() || isMobile.Phone());  
    }  
};

function isIE () {
var myNav = navigator.userAgent.toLowerCase();
return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
};

</script>
</head>
<body>
<div class="global_cover"></div>

<div class="global_header bigHead">
<div class="header_inner clear">

<a class="inner_logo index_icons global_gaNode" href="/" data-galable="home_header_logo"></a>

<div class="account_wrap">
<div class="header_account clear">
<ul class="account_nav clear">
<li><a class="" href="/">首页</a></li>
<li><a class="" href="/media">视频</a></li>
<li><a class="" href="http://tool.zealer.com/">手机工具</a></li>
<li><a class="" href="http://plus.zealer.com/" target="_blank">社区</a></li>
<li><a class="" href="http://fix.zealer.com/" target="_blank">FIX</a></li>
<li><a class="" href="http://lab.zealer.com/" target="_blank">实验室</a></li>
</ul>

<div class="account_right clear">
<div class="header_search clear">
<input class="head_searchInput" placeholder="搜点什么..."/>
<div class="index_icons head_searchIcon global_gaNode" data-type="video" data-galable="home_header_search"></div>
</div>
<div class="account_seperate"></div>
<div class="inner_account">
<a href="/search" target="_blank" class="account_search index_icons"></a>
<a href="/message?type=discuss" target="_blank" class="account_message">通知
<span class="message_num"></span>
</a>
<a href="/message?type=inbox" target="_blank" class="account_letter">私信
<span class="letter_num"></span>
</a>
<span class="account_user clear">
<a class="img_link clear" href="/personal">
<img class="user_img" src="http://static.zealer.com/images/mb_pic30.gif" alt="会员头像" />
</a>
<span class="user_active bigHead">
<a href="/personal" class="active_name" rel="nofollow"></a>
<a href="/user/logout" rel="nofollow">退出</a>
</span>
</span>
<div class="account_list message_list clear"></div>
<div class="account_list sms_list clear">
</div>

<div class="sms_inform">
<div class="account_list  clear"><div class="sms_arrow account_list_arrow" totalnum="3"></div>
<div class="sms_inform_list">
<ul>
</ul>
</div>
</div>
</div>
</div>
<div class="inner_login" style="display:none">
<a class="login_in global_gaNode" href="http://www.zealer.com/login/?from=index&redirect=http%3A%2F%2Fwww.zealer.com%2F" data-galable="home_header_login">登录</a>
<a class="logoutCss global_gaNode" href="http://www.zealer.com/reg?from=Index&redirect=http%3A%2F%2Fwww.zealer.com%2F" data-galable="home_header_reg">注册</a>
</div>


</div>

<ul class="inner_nav">
<li class="index_icons"><a class="global_gaNode" href="/" data-galable="home_header_nav_index">首页</a></li>
<li class="index_icons"><a class="global_gaNode" href="/media" data-galable="home_header_nav_media">视频</a></li>
<li class="index_icons"><a class="global_gaNode" href="http://tool.zealer.com/" data-galable="home_header_nav_phone">手机工具</a></li>
<li class="index_icons"><a class="global_gaNode" href="http://plus.zealer.com/" target="_blank" data-galable="home_header_nav_plus">社区</a></li> 
<li class="index_icons"><a class="global_gaNode" href="http://fix.zealer.com/" target="_blank" data-galable="home_header_nav_fix">FIX</a></li> 
<li class="index_icons"><a class="global_gaNode" href="http://lab.zealer.com/" target="_blank" data-galable="home_header_nav_lab">实验室</a></li> 
<li class="index_icons"><a href="/about?type=contect" class="header_contactUs global_gaNode" target="_blank" rel="nofollow" data-galable="home_header_nav_contact">联系我们</a></li>
<li class="index_icons inner_navNotUsed"></li>
</ul>

</div>
</div>
</div>
</div>

<script id="showData.tpl" type="text/html">
<div class="msg_content">
<h2>欢迎你!</h2>
<a href="http://www.zealer.com/user?pagetype=setbasic" class="msg_btn_box">
<img src='' id="msg_pic"/>
</a>
<div id="msg_name"></div>
你与极客之间的距离，可能只差个性<br />的头像！快去完善吧~
<a href="http://www.zealer.com/user?pagetype=setbasic" class="msg_btn msg_btn_box">完善资料</a>
</div>
</script>



<div class="global_mHeader">
<div class="mHeader_menu"></div>
<div class="mHeader_right">
<a class="mHeader_login" href="http://www.zealer.com/login/?from=index&redirect=http%3A%2F%2Fwww.zealer.com%2F">登录</a>
<a class="img_link clear" href="/user?pagetype=setbasic">
<img class="user_img" src="http://static.zealer.com/images/mb_pic30.gif" alt="会员头像" />
</a>
</div>
<ul class="mHeader_menuList">
<li><a class="" href="/">首页</a></li>
<li><a class="" href="/media">视频</a></li>
<li><a class="" href="http://tool.zealer.com/">手机工具</a></li>
<li><a class="" href="http://plus.zealer.com/" target="_blank">社区</a></li>
<li><a class="" href="http://fix.zealer.com/" target="_blank">维修</a></li>
<li><a class="" href="http://lab.zealer.com/" target="_blank">实验室</a></li>
<li><a href="/about?type=contect" class="header_contactUs" target="_blank" rel="nofollow">联系我们</a></li>
</ul>
</div>

<div class="global_appDownload">
<div class="appDownload_text">
<div class="appDownload_icon"></div>
<span class="text_title">ZEALER 手机客户端<span>
</div>
<a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zealer.app" class="appDownload_btn">立即下载</a>
</div>

<div class="wrap">
<div id="main" style="overflow: initial;">


<div id="main_banner">


<ul class="banner_first clear">
<li class="banner_firstBig">
<a class="global_gaNode" href="http://plus.zealer.com/test/67623.html" target="_blank" data-id=887 data-galable="home_banner_small_1">
<img src="http://img0.zealer.com/47/1a/fb/313bcd569fbb1f24f71041bf79.jpg" />
<div class="banner_cover"></div>
</a>
</li>

<li>
<a class="global_gaNode" href="http://plus.zealer.com/post/67688.html" target="_blank" data-id=890 data-galable="home_banner_small_1">
<img src="http://img0.zealer.com/c9/e6/65/9d39cd9ec1b01b2bb5e0dbd885.jpg" />
<div class="banner_cover"></div>
</a>
</li>
<li>
<a class="global_gaNode" href="http://plus.zealer.com/post/67233.html" target="_blank" data-id=845 data-galable="home_banner_small_2">
<img src="http://img0.zealer.com/c7/b5/b8/738c47d54dfe2200b5c9dceeba.jpg" />
<div class="banner_cover"></div>
</a>
</li>
<li>
<a class="global_gaNode" href="http://plus.zealer.com/post/67538.html?t=1470627359020" target="_blank" data-id=881 data-galable="home_banner_small_3">
<img src="http://img0.zealer.com/cf/fa/c0/45104c1de755f43fe82470d980.jpg" />
<div class="banner_cover"></div>
</a>
</li>
<li>
<a class="global_gaNode" href="http://plus.zealer.com/post/67262.html" target="_blank" data-id=844 data-galable="home_banner_small_4">
<img src="http://img0.zealer.com/42/45/14/dcf1977bcd4c0f12b72541d97e.jpg" />
<div class="banner_cover"></div>
</a>
</li>

</ul>


<div class="banner_sliderWrap">
<div class="slider_arrowLeft index_icons"></div>
<div class="slider_arrowRight index_icons"></div>
<div class="banner_slider">
<ul class="slider_list banner_sliderUl clear">
<li class="slider_iterm slider_item0">
<a class="global_gaNode" href="http://plus.zealer.com/post/67164.html" target="_blank" data-id=877 data-galabel="home_banner_small_1">
<img src="http://img0.zealer.com/c5/3c/53/404152bc69f83b83d48962dbab.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">来波清凉壁纸降降温 </h2>
<span class="secbanner_tip">Z 精选</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item1">
<a class="global_gaNode" href="http://plus.zealer.com/post/67318.html" target="_blank" data-id=891 data-galabel="home_banner_small_2">
<img src="http://img0.zealer.com/e5/89/49/4d3da4f84b947bdd4f44c53e2a.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">科技潮男穿搭指南</h2>
<span class="secbanner_tip">秒杀</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item2">
<a class="global_gaNode" href="http://plus.zealer.com/post/67636.html" target="_blank" data-id=889 data-galabel="home_banner_small_3">
<img src="http://img0.zealer.com/d5/b8/0b/07b22c8af95e69eab9a59c2323.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">科技小辛打造极客桌面</h2>
<span class="secbanner_tip">OKEY</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item3">
<a class="global_gaNode" href="http://plus.zealer.com/post/67425.html" target="_blank" data-id=880 data-galabel="home_banner_small_4">
<img src="http://img0.zealer.com/45/dc/ca/24ff3e7995ca8f31609cf0f38f.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">写给情侣们的七夕虐狗指南</h2>
<span class="secbanner_tip">  OKEY</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item4">
<a class="global_gaNode" href="http://plus.zealer.com/post/67613.html" target="_blank" data-id=875 data-galabel="home_banner_small_5">
<img src="http://img0.zealer.com/dc/b8/dd/8e7695a9ddc87c6e03a8e490aa.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">装机真的很 Bigger</h2>
<span class="secbanner_tip">Z 会玩</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item5">
<a class="global_gaNode" href="http://plus.zealer.com/post/67249.html" target="_blank" data-id=871 data-galabel="home_banner_small_6">
<img src="http://img0.zealer.com/be/d8/8f/a15a0c839996414ad645d22a66.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">会画画的人都是大触</h2>
<span class="secbanner_tip">活动</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item6">
<a class="global_gaNode" href="http://plus.zealer.com/post/67291.html" target="_blank" data-id=878 data-galabel="home_banner_small_7">
<img src="http://img0.zealer.com/71/ef/a3/6eb0c2878536f60195edcae430.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">现代金属碰撞复古牛皮</h2>
<span class="secbanner_tip">  OKEY</span>
</div>
</a>
</li>
<li class="slider_iterm slider_item7">
<a class="global_gaNode" href="http://plus.zealer.com/post/67128.html" target="_blank" data-id=874 data-galabel="home_banner_small_8">
<img src="http://img0.zealer.com/a1/68/c6/12b09a0888ffbf60ef99f6255d.jpg" />
<div class="secbanner_cover"></div>
<div class="secbanner_title_wrap">
<h2 class="secbanner_title">7个神器让你告别无聊</h2>
<span class="secbanner_tip">  OKEY</span>
</div>
</a>
</li>
</ul>
</div>
</div>

</div>


<div id="main_video">
<div class="video_wrap">
<div class="index_title clear">
<div class="index_titleMain">
<a class="global_gaNode" href="/media" data-galable="home_media_nav_title">
<h1>官方视频</h1>
</a>
<a class="global_gaNode index_titleMore" href="/media" data-galable="home_media_nav_more">MORE ></a>
</div>

<ul class="index_titleList clear">
<li><a class="global_gaNode" target="_blank" href="/media?cid=9&index=0" cid="9" data-galabel="home_media_nav_1">手机简评</a></li>
<li><a class="global_gaNode" target="_blank" href="/media?cid=1&index=1" cid="1" data-galabel="home_media_nav_2">硬件测评</a></li>
<li><a class="global_gaNode" target="_blank" href="/media?cid=4&index=2" cid="4" data-galabel="home_media_nav_3">ZEALER | TIPS</a></li>
<li><a class="global_gaNode" target="_blank" href="/media?cid=8&index=3" cid="8" data-galabel="home_media_nav_4">ZEALER 酷品</a></li>
</ul>

</div>

<div class="video_container clear">
<div class="video_left">
<a class="global_gaNode" href="http://www.zealer.com/post/508.html" data-galabel="home_media_video_1">
<img src="http://img0.zealer.com/a5/7b/91/b1c5e3fd135c7df5eefe94ca4d.jpg" />
<div class="video_titleWrap">
<span class="video_tip">手机上手</span>
<h2 class="video_title">三星 Galaxy Note7</h2>
<p class="video_des">和王自如一起感受下三星新机皇的第一印象</p>
</div>
<span class="video_icon index_icons"></span>
<div class="video_cover video_cover0"></div>
</a>
</div>

<ul class="video_right">
<li class="video_list0">
<a href="http://www.zealer.com/post/527.html" class="global_gaNode" data-galabel="home_media_video_1">
<img src="http://img0.zealer.com/8e/39/e1/e0546f67c2b75d59985adf8050.jpg" />
<div class="video_titleWrap">
<span class="video_tip">ZEALER TIPS</span>
<h2 class="video_title">教你制作专属表情包！</h2>
<p class="video_des">如何在刀光剑影的江湖中携定制表情包一战成名</p>
</div>
<span class="video_icon index_icons"></span>
<div class="video_cover video_cover1"></div>
</a>
</li>
<li class="video_list1">
<a href="http://www.zealer.com/post/526.html" class="global_gaNode" data-galabel="home_media_video_2">
<img src="http://img0.zealer.com/49/bf/01/9c3335844206395cbcdd5d2e3c.jpg" />
<div class="video_titleWrap">
<span class="video_tip">ZEALER 酷品</span>
<h2 class="video_title">Roome智能灯跟你说晚安</h2>
<p class="video_des">做你的贴心小棉袄</p>
</div>
<span class="video_icon index_icons"></span>
<div class="video_cover video_cover2"></div>
</a>
</li>
<li class="video_list2">
<a href="http://www.zealer.com/post/484.html" class="global_gaNode" data-galabel="home_media_video_3">
<img src="http://img0.zealer.com/54/62/9b/40e23ea12fd50672da2ddf3551.jpg" />
<div class="video_titleWrap">
<span class="video_tip">ZEALER 简评</span>
<h2 class="video_title">红米 Pro 简评</h2>
<p class="video_des">双摄手机</p>
</div>
<span class="video_icon index_icons"></span>
<div class="video_cover video_cover3"></div>
</a>
</li>
<li class="video_list3">
<a href="http://www.zealer.com/post/523.html" class="global_gaNode" data-galabel="home_media_video_4">
<img src="http://img0.zealer.com/71/80/a7/dfc39a6e3152933f19c3e691ca.jpg" />
<div class="video_titleWrap">
<span class="video_tip">ZEALER 简评</span>
<h2 class="video_title">荣耀 8 简评</h2>
<p class="video_des">荣耀系列的新颜王？</p>
</div>
<span class="video_icon index_icons"></span>
<div class="video_cover video_cover4"></div>
</a>
</li>
</ul>
</div>

<div class="video_series">
<div class="series_split_line"></div>
<ul class="series_list clear">
<li class="series_item0">
<a href="/series/8" target="_blank" class="series_itemImg global_gaNode" data-galabel="home_media_series_1">
<img src="http://img0.zealer.com/b4/f6/6a/133358038c38eb5e2c374466da.jpg" />
<span class="video_icon index_icons"></span>
<div class="video_seriesCover"></div>
</a>
<a class="global_gaNode" href="/series/8" target="_blank" data-galabel="home_media_series_1"><h3 class="series_subTitle">三星 Galaxy Note7 值得买吗？</h3></a>
</li>
<li class="series_item1">
<a href="/series/6" target="_blank" class="series_itemImg global_gaNode" data-galabel="home_media_series_2">
<img src="http://img0.zealer.com/00/4b/06/bc46a758fb4d231580b38c44c6.jpg" />
<span class="video_icon index_icons"></span>
<div class="video_seriesCover"></div>
</a>
<a class="global_gaNode" href="/series/6" target="_blank" data-galabel="home_media_series_2"><h3 class="series_subTitle">夏日桌面必备小单品</h3></a>
</li>
<li class="series_item2">
<a href="http://www.zealer.com/special/relativity" target="_blank" class="series_itemImg global_gaNode" data-galabel="home_media_series_3">
<img src="http://img0.zealer.com/a9/03/d6/dc4d69d4dca24d727dd3805c47.jpg" />
<span class="video_icon index_icons"></span>
<div class="video_seriesCover"></div>
</a>
<a class="global_gaNode" href="http://www.zealer.com/special/relativity" target="_blank" data-galabel="home_media_series_3"><h3 class="series_subTitle">科技相对论 第一季</h3></a>
</li>
<li class="series_item3">
<a href="/series/1" target="_blank" class="series_itemImg global_gaNode" data-galabel="home_media_series_4">
<img src="http://img0.zealer.com/ee/d3/d6/b53e1783d4d5b72a69428672d5.jpg" />
<span class="video_icon index_icons"></span>
<div class="video_seriesCover"></div>
</a>
<a class="global_gaNode" href="/series/1" target="_blank" data-galabel="home_media_series_4"><h3 class="series_subTitle">如何打造王自如同款办公室</h3></a>
</li>
</ul>
</div>
</div>

</div>


<div id="main_plusRecom">
<div class="plus_wrap">
<div class="index_title clear">
<div class="index_titleMain">
<a class="global_gaNode plusRecom_title" href="http://plus.zealer.com/" data-galable="home_plus_nav_title">
<h1>社区精品</h1>
</a>
<a class="global_gaNode index_titleMore" href="http://plus.zealer.com/" data-galable="home_media_nav_more">MORE ></a>
</div>
</div>

<div class="plus_recommend">
<div class="recom_wrap clear">

<div class="recom_top clear">
<div class="recom_topLeft">
<a class="global_gaNode" href="http://plus.zealer.com/post/67687.html" target="_blank" data-galable="home_plus_recommend_1">
<img src="http://img0.zealer.com/c7/fe/df/965f78fdf4ec853f0f31b58322.jpg" />
<div class="recom_titleWrap">
<h3 class="recom_title">6G独享！三星Note 7国行售价曝光：够残暴</h3>
<span class="recom_total index_icons">3905</span>
</div>
<div class="plus_cover"></div>
</a>
</div>
<div class="recom_topRight">
<a class="global_gaNode" href="http://plus.zealer.com/post/67672.html" target="_blank" data-galable="home_plus_recommend_1">
<img src="http://img0.zealer.com/2a/5d/9e/7bb983ba2ced6ec22b014f77af.jpg" />
<div class="recom_titleWrap">
<h3 class="recom_title">4个原因，苹果新一代 MacBook Pro 必须买买买！</h3>
<span class="recom_total index_icons">2285</span>
</div>
<div class="plus_cover plus_coverR"></div>
</a>
</div>
</div>

<div class="recom_list">
<li class="recom_item0">
<a class="global_gaNode" href="http://plus.zealer.com/post/67633.html" target="_blank" data-galabel="home_plus_recommend_1">
<img src="http://img0.zealer.com/22/64/41/6e450afb3fe648ea7e52c9fa09.jpg" />
<div class="plus_cover plus_coverBottom"></div>
</a>
<a class="global_gaNode" href="http://plus.zealer.com/post/67633.html" target="_blank" data-galabel="home_plus_recommend_1">
<h3 class="recom_title">【斗壁纸】我的私藏好图，客官请自取！</h3>
</a>
<span class="recom_total index_icons">3985</span>
</li>
<li class="recom_item1">
<a class="global_gaNode" href="http://plus.zealer.com/post/67645.html" target="_blank" data-galabel="home_plus_recommend_2">
<img src="http://img0.zealer.com/b0/11/7d/b38fcdbff4033ab31436eba0ea.jpg" />
<div class="plus_cover plus_coverBottom"></div>
</a>
<a class="global_gaNode" href="http://plus.zealer.com/post/67645.html" target="_blank" data-galabel="home_plus_recommend_2">
<h3 class="recom_title">【穿戴党】不做偶像，我只是个实力派！</h3>
</a>
<span class="recom_total index_icons">1620</span>
</li>
<li class="recom_item2">
<a class="global_gaNode" href="http://plus.zealer.com/post/67667.html" target="_blank" data-galabel="home_plus_recommend_3">
<img src="http://img0.zealer.com/39/53/e3/df0c1b516615ca088a5c36823a.jpg" />
<div class="plus_cover plus_coverBottom"></div>
</a>
<a class="global_gaNode" href="http://plus.zealer.com/post/67667.html" target="_blank" data-galabel="home_plus_recommend_3">
<h3 class="recom_title">【电子绘画】神马？这是画的？大神，给跪了...</h3>
</a>
<span class="recom_total index_icons">2100</span>
</li>
<li class="recom_item3">
<a class="global_gaNode" href="http://plus.zealer.com/post/67497.html" target="_blank" data-galabel="home_plus_recommend_4">
<img src="http://img0.zealer.com/c2/cc/2b/458183773ee07d6e4c0e86ae80.jpg" />
<div class="plus_cover plus_coverBottom"></div>
</a>
<a class="global_gaNode" href="http://plus.zealer.com/post/67497.html" target="_blank" data-galabel="home_plus_recommend_4">
<h3 class="recom_title">【逼格照】那些年，我追过的诺基亚...</h3>
</a>
<span class="recom_total index_icons">17205</span>
</li>
</div>
</div>
</div>

</div>

</div>


<div id="main_plusArt">
<div class="plus_article">

<div class="index_title clear">
<div class="index_titleMain">
<a class="global_gaNode plusArt_title" href="http://plus.zealer.com/test" data-galable="home_plus_nav_title">
<h1>深度好文</h1>
</a>
<a class="global_gaNode index_titleMore" href="http://plus.zealer.com/test" data-galable="home_media_nav_more">MORE ></a>
</div>
</div>

<div class="art_wrap clear">
<ul class="art_list clear">
<li class="article_item article_item0">
<a class="global_gaNode" href="http://plus.zealer.com/report/66976.html" target="_blank" data-galable="home_plus_article_1">
<div class="img_box">
<img src="http://img0.zealer.com/79/ff/20/dbbb2401339c037154938ab914.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title yellow_line">
也许 R9 的神话，真的要被 X7 取代了</h3>
<p class="article_content">今年OPPO R9的成功，可以说是让众多手机厂商染红了眼。虽说国内手机市场，线上竞争的格外激烈，甚至说赔本卖手机...</p>
<span class="article_total index_icons">6825</span>
</a>
</li>
<li class="article_item article_item1">
<a class="global_gaNode" href="http://plus.zealer.com/report/67160.html" target="_blank" data-galable="home_plus_article_2">
<div class="img_box">
<img src="http://img0.zealer.com/1c/6d/c8/4a2ac67bc2df3db6b1a8fb1d2a.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title ">
用完之后是欲望之后的畅快感，痴迷了</h3>
<p class="article_content">内心独白：笔者很抱歉地说，这是笔者第一次上手机械键盘，以前在顺电曾经体验过，但只是稍微按了几下，并没有深...</p>
<span class="article_total index_icons">6670</span>
</a>
</li>
<li class="article_item article_item2">
<a class="global_gaNode" href="http://plus.zealer.com/report/67202.html" target="_blank" data-galable="home_plus_article_3">
<div class="img_box">
<img src="http://img0.zealer.com/39/f5/c5/59511e069a0f37ed5683b84728.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title yellow_line">
这个车充不一样：睿米测评</h3>
<p class="article_content">今天我带来的是睿米音乐蓝牙车充这款产品的体验。那么，有人就会问这个车充有什么不一样？请往下看。一个小巧的...</p>
<span class="article_total index_icons">3410</span>
</a>
</li>
<li class="article_item article_item3">
<a class="global_gaNode" href="http://plus.zealer.com/report/67273.html" target="_blank" data-galable="home_plus_article_4">
<div class="img_box">
<img src="http://img0.zealer.com/86/1c/71/5a9e74571058b8e4fcaceeee7c.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title ">
低调的华丽：酷冷烈焰枪 XT 侧刻</h3>
<p class="article_content">唐人岑参有诗云：忽如一夜春风来，千树万树梨花开。正如1300年前大唐边塞一夜而来的飞雪一般，曾经销声匿迹许多...</p>
<span class="article_total index_icons">1720</span>
</a>
</li>
<li class="article_item article_item4">
<a class="global_gaNode" href="http://plus.zealer.com/report/67465.html" target="_blank" data-galable="home_plus_article_5">
<div class="img_box">
<img src="http://img0.zealer.com/15/10/75/c965a39cf770de5303720b9719.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title yellow_line">
视频发烧友的必备良器，爱不释手！</h3>
<p class="article_content">这次测试的产品应该算是一款有一定专业性的产品，由于平日并没有接触视频制作，所以这次申请纯属是对稳定器这类...</p>
<span class="article_total index_icons">1595</span>
</a>
</li>
<li class="article_item article_item5">
<a class="global_gaNode" href="http://plus.zealer.com/report/67179.html" target="_blank" data-galable="home_plus_article_6">
<div class="img_box">
<img src="http://img0.zealer.com/2d/f8/03/ce65a7dde6f384c0d5e0ffb5a0.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title ">
做自己的导演：智云Smooth2</h3>
<p class="article_content">随着生活水平的提高，人们对生活的品质也有了很高的要求。而且伴随近两年新媒体的火速发展，直播、新闻发布纪实...</p>
<span class="article_total index_icons">945</span>
</a>
</li>
<li class="article_item article_item6">
<a class="global_gaNode" href="http://plus.zealer.com/report/67105.html" target="_blank" data-galable="home_plus_article_7">
<div class="img_box">
<img src="http://img0.zealer.com/c5/a9/3d/fb9b6478e705e0d30ce0eda919.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title yellow_line">
不但懂女人，她很懂男人，你知道吗？</h3>
<p class="article_content">序：评测前又要说点废话了，对不起又迟到了，绝对不是因为台风来的缘故，而是工头加大的搬砖头的量，所以忙于把...</p>
<span class="article_total index_icons">2100</span>
</a>
</li>
<li class="article_item article_item7">
<a class="global_gaNode" href="http://plus.zealer.com/report/66919.html" target="_blank" data-galable="home_plus_article_8">
<div class="img_box">
<img src="http://img0.zealer.com/aa/cc/24/534fb25f876d0637e6af951c5a.jpg" />
<div class="plus_article_cover"></div>
</div>

<h3 class="article_title ">
更成熟！也更独立了！TicWatch 2 体...</h3>
<p class="article_content">当TicWatch问世的时候，其就以更像机械表的外观、多重的交互方式，以及开放的Ticwear系统成为了智能手表中的宠儿...</p>
<span class="article_total index_icons">19420</span>
</a>
</li>
</ul>
<div class="art_listDot">
<span class="listDot_item listDot_itemFirt active"></span>
<span class="listDot_item"></span>
</div>
</div>

</div>

<div class="plus_sliderWrap">
<div class="plus_sliderSkin">
<div class="plus_slider">
<div class="slider_arrowLeft index_icons"></div>
<div class="slider_arrowRight index_icons"></div>
<div class="slider_coverLeft"></div>
<div class="slider_coverRight"></div>
<ul class="slider_list plus_sliderList clear">
<li class="slider_item slider_item0">
<a class="global_gaNode" href="http://plus.zealer.com/post/66755.html" target="_blank" data-galable="home_plus_slider_1">
<img class="slider_img" src="http://img0.zealer.com/46/05/fd/841116917ffd963e19dc7065de.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">【出行装备】一位媒体工作者的 EDC</span>
</a>
</li>
<li class="slider_item slider_item1">
<a class="global_gaNode" href="http://plus.zealer.com/post/66913.html" target="_blank" data-galable="home_plus_slider_2">
<img class="slider_img" src="http://img0.zealer.com/75/b2/08/c8e660f4d54295908bbfbeda81.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">暑假必备</span>
</a>
</li>
<li class="slider_item slider_item2">
<a class="global_gaNode" href="http://plus.zealer.com/post/67211.html" target="_blank" data-galable="home_plus_slider_3">
<img class="slider_img" src="http://img0.zealer.com/7f/23/a4/fa0a6fcfff04fab9100c4a72a5.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">拔草 | 极简主义</span>
</a>
</li>
<li class="slider_item slider_item3">
<a class="global_gaNode" href="http://plus.zealer.com/post/67538.html?t=1470627359020" target="_blank" data-galable="home_plus_slider_4">
<img class="slider_img" src="http://img0.zealer.com/6a/a6/8d/1ae22d00989fe0d698a467b679.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip"> iPhone 7 变化有哪些？</span>
</a>
</li>
<li class="slider_item slider_item4">
<a class="global_gaNode" href="http://plus.zealer.com/post/66797.html" target="_blank" data-galable="home_plus_slider_5">
<img class="slider_img" src="http://img0.zealer.com/3b/ea/34/540c690a7b6a0525b50f206fa2.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">DIY 炫酷主机</span>
</a>
</li>
<li class="slider_item slider_item5">
<a class="global_gaNode" href="http://plus.zealer.com/post/67452.html" target="_blank" data-galable="home_plus_slider_6">
<img class="slider_img" src="http://img0.zealer.com/07/e6/e7/9ab181f408a0ecccd368a5e869.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">定制个性化桌面</span>
</a>
</li>
<li class="slider_item slider_item6">
<a class="global_gaNode" href="http://plus.zealer.com/post/66917.html" target="_blank" data-galable="home_plus_slider_7">
<img class="slider_img" src="http://img0.zealer.com/8e/08/59/ecb8121dfcc7105a5c30bd141f.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">大三狗的EDC</span>
</a>
</li>
<li class="slider_item slider_item7">
<a class="global_gaNode" href="http://plus.zealer.com/post/66683.html" target="_blank" data-galable="home_plus_slider_8">
<img class="slider_img" src="http://img0.zealer.com/81/29/50/680df6f94c1b4c76f50517c0bd.jpg" />
<div class="plus_article_cover"></div>
<span class="slider_tip">随手拍家乡美</span>
</a>
</li>
</ul>
</div>
</div>
</div>

</div>


<div id="main_phone">
<div class="phone_wrap clear">

<div class="index_title clear">
<div class="index_titleMain">
<a class="global_gaNode plusArt_title" href="http://tool.zealer.com/" target="_blank" data-galable="home_plus_nav_title">
<h1>手机工具</h1>
</a>
<a class="global_gaNode index_titleMore" href="http://tool.zealer.com/" target="_blank" data-galable="home_media_nav_more">MORE ></a>
</div>
</div>

<ul class="phone_component list_pic_3 clear">
<li class="each_0">
<a href="http://tool.zealer.com/interest/153" target="_blank" class="global_gaNode" data-galabel="home_phone_article_1">
<img src="http://img0.zealer.com/fc/6a/96/ccb19ce7f3f51a2ecc4b3d0a4b.jpg" data-retina="http://img0.zealer.com/81/68/52/d8605d8de0ec80b34a222cc193.jpg" />

</a>
</li>
<li class="each_1">
<a href="http://tool.zealer.com/interest/161" target="_blank" class="global_gaNode" data-galabel="home_phone_article_2">
<img src="http://img0.zealer.com/a2/b0/87/84988c3c013e149af87436d35a.jpg" data-retina="http://img0.zealer.com/b7/6a/03/55d4d8552515289fc1e10d2726.jpg" />

</a>
</li>
<li class="each_2">
<a href="http://tool.zealer.com/interest/154" target="_blank" class="global_gaNode" data-galabel="home_phone_article_3">
<img src="http://img0.zealer.com/6a/b3/ad/39bae4bdacd16dae4afd939bc0.jpg" data-retina="http://img0.zealer.com/f7/b0/55/95368fcde84da8ecf993c9a6c1.jpg" />

</a>
</li>
<li class="each_3">
<a href="http://tool.zealer.com/interest/158" target="_blank" class="global_gaNode" data-galabel="home_phone_article_4">
<img src="http://img0.zealer.com/95/9e/bb/b2eb3761b9e0f87c424a5b4537.jpg" data-retina="http://img0.zealer.com/34/1d/85/a0d21364bb69599086bac4ca73.jpg" />

</a>
</li>
</ul>

<ul class="phone_listWrap clear">
<li class="phone_listItem phone_listItem0">
<a class="global_gaNode" href="http://tool.zealer.com/post/235" target="_blank" data-id=879 data-galabel="home_banner_small_1">
<img class="phone_listImg" src="http://img0.zealer.com/1c/8e/79/a7e073d27a7472657da79f169a.jpg" />

<div class="lab_title_wrap">
<h2 class="secbanner_title">HTC 10</h2>
</div>
</a>
</li>
<li class="phone_listItem phone_listItem1">
<a class="global_gaNode" href="http://tool.zealer.com/post/1" target="_blank" data-id=876 data-galabel="home_banner_small_2">
<img class="phone_listImg" src="http://img0.zealer.com/80/6e/42/97ee0a585cc03eafa76df61610.jpg" />

<div class="lab_title_wrap">
<h2 class="secbanner_title">iPhone 6s</h2>
</div>
</a>
</li>
<li class="phone_listItem phone_listItem2">
<a class="global_gaNode" href="http://tool.zealer.com/post/260" target="_blank" data-id=870 data-galabel="home_banner_small_3">
<img class="phone_listImg" src="http://img0.zealer.com/b3/66/5e/7636574af0c7178b1bdc728229.jpg" />

<div class="lab_title_wrap">
<h2 class="secbanner_title">一加 3</h2>
</div>
</a>
</li>
<li class="phone_listItem phone_listItem3">
<a class="global_gaNode" href="http://tool.zealer.com/post/191" target="_blank" data-id=869 data-galabel="home_banner_small_4">
<img class="phone_listImg" src="http://img0.zealer.com/7e/44/06/6627bb3a7bbb7a5c25165be1d5.jpg" />

<div class="lab_title_wrap">
<h2 class="secbanner_title">S7 edge</h2>
</div>
</a>
</li>
</ul>

</div>

</div>


<div id="main_rephone">
<div class="rephone_wrap clear">

<div class="index_title clear">
<div class="index_titleMain">
<a class="global_gaNode plusArt_title" href="http://fix.zealer.com/" target="_blank" data-galable="home_plus_nav_title">
<h1>FIX 手机服务</h1>
</a>
<a class="global_gaNode index_titleMore" href="http://fix.zealer.com/" target="_blank" data-galable="home_media_nav_more">MORE ></a>
</div>
</div>

<div class="rephone_top clear">
<ul class="rephone_leftWrap clear">
<li class="rephone_leftItem rephone_leftItem0">
<a class="global_gaNode" href="http://fix.zealer.com" target="_blank" data-id=860 data-galabel="home_banner_small_1">
<img class="rephone_leftImg" src="http://img0.zealer.com/1d/f9/f1/8e03a4411d23e32677922e1903.jpg" />
</a>
</li>
<li class="rephone_leftItem rephone_leftItem1">
<a class="global_gaNode" href="http://fix.zealer.com/repair" target="_blank" data-id=862 data-galabel="home_banner_small_2">
<img class="rephone_leftImg" src="http://img0.zealer.com/0f/37/f4/d8e9f23fc2200a70a866312a12.jpg" />
</a>
</li>
<li class="rephone_leftItem rephone_leftItem2">
<a class="global_gaNode" href="http://fix.zealer.com/rephone" target="_blank" data-id=861 data-galabel="home_banner_small_3">
<img class="rephone_leftImg" src="http://img0.zealer.com/ba/a8/0b/693e57f6e1635829cb50c2923a.jpg" />
</a>
</li>
<li class="rephone_leftItem rephone_leftItem3">
<a class="global_gaNode" href="javascript:;" target="_blank" data-id=863 data-galabel="home_banner_small_4">
<img class="rephone_leftImg" src="http://img0.zealer.com/09/06/34/159b0c99d1fc9afc4a709ec94f.jpg" />
</a>
</li>
</ul>
<a class="rephone_rightWrap global_gaNode" href="http://plus.zealer.com/post/61316.html" target="_blank" data-id=864 data-galabel="home_banner_small_4">
<img class="rephone_rightImg" src="http://img0.zealer.com/96/81/3e/26cf53b0751976f8d8b7b61d98.jpg" />
</a>
</div>

<ul class="rephone_listWrap clear">
<li class="rephone_listItem rephone_listItem0">
<a class="global_gaNode" href="http://plus.zealer.com/post/61641.html" target="_blank" data-id=865 data-galabel="home_banner_small_1">
<img class="rephone_listImg" src="http://img0.zealer.com/8f/66/c5/76ed004a50d54eaefd52772522.jpg" />
</a>
</li>
<li class="rephone_listItem rephone_listItem1">
<a class="global_gaNode" href="http://plus.zealer.com/post/59832.html" target="_blank" data-id=866 data-galabel="home_banner_small_2">
<img class="rephone_listImg" src="http://img0.zealer.com/19/04/22/ce5641fb1493db716415b0da24.jpg" />
</a>
</li>
<li class="rephone_listItem rephone_listItem2">
<a class="global_gaNode" href="http://plus.zealer.com/post/58760.html" target="_blank" data-id=867 data-galabel="home_banner_small_3">
<img class="rephone_listImg" src="http://img0.zealer.com/40/df/c3/e1fbb8d4a004ffb2060746b66d.jpg" />
</a>
</li>
<li class="rephone_listItem rephone_listItem3">
<a class="global_gaNode" href="http://plus.zealer.com/post/57965.html" target="_blank" data-id=868 data-galabel="home_banner_small_4">
<img class="rephone_listImg" src="http://img0.zealer.com/1a/7d/c1/b921a7a9a7f50ba2d0d2e864d7.jpg" />
</a>
</li>
</ul>


</div>
</div>

</div>
</div>


<div class="global_footer">
<div class="footer_inner">
<div class="inner_link clear">
<dl>

<p class="logo_footer index_icons"></p>
</dl>
<dl>
<dt>业务</dt>
<dd>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://fix.zealer.com/" rel="nofollow">手机服务</a>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://lab.zealer.com/" rel="nofollow">实验室</a>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://plus.zealer.com/" rel="nofollow">社区</a>
</dd>
</dl>
<dl>
<dt>关于我们</dt>
<dd>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="/about.html?type=item" rel="nofollow">会员条款</a>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="/about.html?type=join" rel="nofollow">加入我们</a>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="/about.html?type=about" rel="nofollow">关于 ZEALER</a>
</dd>
</dl>
<dl class="footer_follow">
<dt>关注我们</dt>
<dd>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://weibo.com/zealerchina" target="_blank" rel="nofollow">新浪微博</a>
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="/about?type=contect" rel="nofollow">联系我们</a>
</dd>
</dl>
<dl class="footer_wechat">
<dt>官方微信</dt>
<dd class="wechat_img"></dd>
</dl>
<dl class="footer_appDownload">
<dt>APP 下载</dt>
<dd class="app_img"></dd>
</dl>
</div>



<div class="inner_tag clear">
<div><ul><span>友情链接</span></ul></div>
<div class="inner_tag_seolink">
<ul>
<li>
<a class="global_gaNode" href="http://www.mydrivers.com/" target="_blank" data-galabel="home_footer_friend_link">
快科技</a>
</li>
<li>
<a class="global_gaNode" href="http://www.91.com/" target="_blank" data-galabel="home_footer_friend_link">
91门户</a>
</li>
<li>
<a class="global_gaNode" href="http://www.gfan.com" target="_blank" data-galabel="home_footer_friend_link">
机锋网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.romzhijia.net/" target="_blank" data-galabel="home_footer_friend_link">
ROM之家</a>
</li>
<li>
<a class="global_gaNode" href="http://digi.163.com/" target="_blank" data-galabel="home_footer_friend_link">
网易数码</a>
</li>
<li>
<a class="global_gaNode" href="http://www.ithome.com/" target="_blank" data-galabel="home_footer_friend_link">
IT之家</a>
</li>
<li>
<a class="global_gaNode" href="http://www.qianzhan.com/" target="_blank" data-galabel="home_footer_friend_link">
前瞻网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.feng.com" target="_blank" data-galabel="home_footer_friend_link">
威锋网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.fengniao.com/" target="_blank" data-galabel="home_footer_friend_link">
蜂鸟网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.iheima.com/" target="_blank" data-galabel="home_footer_friend_link">
i黑马</a>
</li>
<li>
<a class="global_gaNode" href="http://www.tuicool.com/" target="_blank" data-galabel="home_footer_friend_link">
推酷网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.yixieshi.com/" target="_blank" data-galabel="home_footer_friend_link">
互联网一些事</a>
</li>
<li>
<a class="global_gaNode" href="http://www.imobile.com.cn/" target="_blank" data-galabel="home_footer_friend_link">
手机之家</a>
</li>
<li>
<a class="global_gaNode" href="http://www.it168.com/" target="_blank" data-galabel="home_footer_friend_link">
IT168</a>
</li>
<li>
<a class="global_gaNode" href="http://www.app111.com/" target="_blank" data-galabel="home_footer_friend_link">
苹果园</a>
</li>
<li>
<a class="global_gaNode" href="http://www.evolife.cn/" target="_blank" data-galabel="home_footer_friend_link">
爱活网</a>
</li>
<li>
<a class="global_gaNode" href="http://www.eoemarket.com/" target="_blank" data-galabel="home_footer_friend_link">
优亿市场</a>
</li>
<li>
<a class="global_gaNode" href="http://www.leiphone.com" target="_blank" data-galabel="home_footer_friend_link">
雷锋网</a>
</li>
<li>
<a class="global_gaNode" href="http://ask.zealer.com" target="_blank" data-galabel="home_footer_friend_link">
科技问答</a>
</li>
<li>
<a class="global_gaNode" href="http://www.techmiao.com/" target="_blank" data-galabel="home_footer_friend_link">
机智猫</a>
</li>
<li>
<a class="global_gaNode" href="http://www.znjchina.com" target="_blank" data-galabel="home_footer_friend_link">
智能界</a>
</li>
</ul>
</div>
</div>

<div class="footer_message">
<div class="footer_pcMsg clear">
<div class="inner_copyr">
<img class="inner_lisense" src="http://static.zealer.com/page/img/img_e90c7a45_global_footer_lisence.png" />
<span class="inner_no"><a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">粤ICP备12076188号-1</a>&nbsp;</span>
<span class="inner_img">
<a class="global_gaNode" data-galabel="home_footer_nav_link" href="http://szcert.ebs.org.cn/1d7f198a-09f0-4844-8212-07761b11dffe" target="_blank" rel="nofollow">
<img src="http://szcert.ebs.org.cn/Images/newGovIcon.gif"
 title="深圳市市场监督管理局企业主体身份公示" alt="深圳市市场监督管理局企业主体身份公示"
 width="80" height="33" border="0" style="border-width:0px;border:hidden; border:none;"
 />
 </a>
</span>
</div>
</div>

<div class="footer_mMsg">
<div class="mMsg_slogen"></div>
<div>© 2016 ZEALER | 粤ICP备12076188号-1 </div>
</div>
</div>
</div>
</div>

<div class="side_btn">
<span class="contect_btn"></span>
<span class="to_up"></span>
</div>

<div class="bg_writer">
<div class="content_writer">
<p>我们十分重视您的体验感受</p>
<p>请写下您的建议或者吐槽帮助我们更好的改进</p>
</div>
</div>

<div class="user_reply">
<div class="bg_title">
<span style="width:13px; height:14px; background-position:0 -106px;" class="title_logo"></span>
</div>
<div class="bg_content">
<div class="contect_box">
<textarea class="content_contect">请输入您的反馈内容...</textarea>
<div>
<button class="contect_btn">提交</button>
</div>
</div>
</div>
</div>


<script src="http://static.zealer.com/js/jquery-1.10.2.min.js"></script>

<script src="http://static.zealer.com/page/js/libs_46276.js"></script>
<script src="http://static.zealer.com/page/js/global_4eae3ebe4f.js"></script>
<script src="http://static.zealer.com/js/stat.js"></script>
<script src="http://static.zealer.com/page/js/page_d849fc4214.js"></script>

<script>
$(function(){

 Z.use('index/banner');Z.use('videoList/videoList');Z.use('plusList/plusList');Z.use('index/plusArt');Z.use('index/phoneList', {phone_host: 'http://tool.zealer.com/'});Z.use('index/page');Z.use('global/header');Z.use('footer/footer');
});
</script>
 

<script type="text/javascript">
var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?93a776aa5a5632380561feba017dd90f";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-42162857-1', 'zealer.com');
  ga('send', 'pageview');
</script>
<script>
// 百度推送， 上线请打开
(function(){var bp = document.createElement('script');bp.src= '//push.zhanzhang.baidu.com/push.js';var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(bp, s);})();
</script>
</body>
</html>
