/****** CSSRESET******/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

* {
   text-decoration: none;
   list-style: none;
   font-family: "Microsoft Yahei";
   font-size: 12px;
   font-weight: normal;
   color: #ccc;
   border-style: none;
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -o-transition: all 0.5s;
}

h1 { font-size: 18px; }

h2 { font-size: 16px; }

h3 { font-size: 14px; }

h4 { font-size: 13px; }

h5 { font-size: 12px; }

.clearfix { clear: both; }

.lf { float: left; }

.rt { float: right; }

body {
   background-color: #fff;
   overflow: hidden;
   position: relative;
}

/****** HEADER ******/
.header {
   width: 100%;
   min-width: 1000px;
   height: 82px;
   padding-right: 50px;
   padding-left: 50px;
   margin:0 auto;
   border-bottom: solid 2px #ddd;
   background-color: #fff;
}

.logo {
   width: 250px;
   padding-top: 28px;
   float: left;
}

.logo h1 {
   display: inline-block;
   padding-top: 6px;
   color: #393939;
   vertical-align:top;
}

.header-navbar {
   width: 740px;
   float: right;
   position:relative;
}

.login {
   width: 180px;
   height: 14.7px;
   display: block;
   font-size: 12px;
   text-align: right;
   position: absolute;
   color: #b9b9b9;
   top: 8px;
   right: 0;
}

.login a{
   font-size: 12px;
   color: #696969;
}

.header-nav { float: left; }

.header-nav-li { float: left; }

.header-nav-li a {
   width: 80px;
   height: 60px;
   text-align: center;
   line-height: 90px;
   color: #515151;
   font-weight: bold;
   display: block;
}

.header-nav-li-list {
   float: left;
   position: absolute;
   left: 0;
   display: none;
}

.header-nav-li-list li { float: left; }

.header-nav-li-list li a {
   width: 80px;
   height: 20px;
   text-align: center;
   line-height: 20px;
   color: #b9b9b9;
   font-weight: normal;
   display: block;
   border-right: solid 1px #ddd;
}

.header-nav-li a:hover {
   background-color: #b9b9b9;
   color: #fff;
}

.header-nav-li-list li .listend {
   border-right: none;
}

.header-nav li:hover .header-nav-li-list { display: block; }

.header-nav-li-list li a:hover {
   color: #443252;
   font-weight: bold;
   background-color: #fff;
}

/****** SIDERBAR ******/
.siderbar {
   position: absolute;
   width: 20%;
   min-width: 260px;
   height: 600px;
   overflow-y: scroll;
   float:left;
   background-color: #f9f9f9;
}

.siderbar .box{
   height: 400px;

}

.siderbar .box li {
   display: block;
   margin-top: 10px;
   margin-bottom: 10px;
   width: 244px;
   height: 40px;
   background-color: yellow;
   text-align: center;
   line-height: 40px;
   cursor: pointer;
}

.box li:hover {
   background-color: #000;
}

.siderbar p {
   width: 160px;
   display: block;
   margin: 0 auto;
}

.animit{
   width: 100%;
   overflow: hidden;
}





