<!-- total 547 -->
<!DOCTYPE html>
<html>
<head>
   <title>aaa</title>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<!-- header -->
   <div class="header">
      <div class="top">
         <a class="logo">logo_position</a>
         <ul class="navbar">
            <li><a href="#">首页</a></li>
            <li><div class="new">new</div><a href="#service">服务</a></li>
            <li><a href="#service2">产品</a></li>
            <li><a href="#service2">案例</a></li>
            <li><a href="#about">关于</a></li>
            <li><a href="#team">联系</a></li>
         </ul>
         <div class="clearfix"></div>
      </div>
      <h2>Welcome To Our Studio!</h2>
      <h1>IT'S NICE TO MEET YOU</h1>
      <input type="button" value="TELL ME MORE">
   </div>
<!-- header end -->

<!-- service -->
   <div class="service" id="service">
      <h1>SERVICES</h1>
      <h2>Proin inculis purus consequat sem cure.</h2>
      <ul class="column">
         <li>
            <img style="width: 60px;height: 80px;background-color:red;">
            <h3>E-Cmmerce</h3>
            <p>Proin inculis purus consequat sem cure digni ssim.Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
         </li>
         <li>
             <img style="width: 60px;height: 80px;background-color:red;">
            <h3>E-Cmmerce</h3>
            <p>Proin inculis purus consequat sem cure digni ssim.Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
         </li>
         <li>
             <img style="width: 60px;height: 80px;background-color:red;">
            <h3>E-Cmmerce</h3>
            <p>Proin inculis purus consequat sem cure digni ssim.Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
         </li>
         <div class="clearfix"></div>
      </ul>
   </div>
<!-- service end -->

<!-- service2 -->
   <div class="service" id="service2">
      <h1>SERVICES</h1>
      <h2>Proin inculis purus consequat sem cure.</h2>
      <ul class="column">
         <li>
            <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <li>
             <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <li>
             <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <li>
            <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <li>
            <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <li>
            <img style="width: 120px;height: 180px;background-color:#fe00fe;">
            <h3>E-Cmmerce</h3>
            <span>Proin inculis</span>
         </li>
         <div class="clearfix"></div>
      </ul>
   </div>
<!-- service2 end -->

<!-- about -->
   <div class="about" id="about">
      <h1>ABOUT US</h1>
      <h2></h2>
      <ul class="column">
         <li>
            <div class="left">&nbsp;</div>
            <div><img></div>
            <div class="right">
               <h3>JULY2012</h3>
               <p>Our Humble Beginnings</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div class="clearfix"></div>
         </li>
         <li>
            <div class="left">
               <h3>JULY2012</h3>
               <p>Our Humble Beginnings</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div><img ></div>
            <div class="right"></div>
            <div class="clearfix"></div>
         </li>
         <li>
            <div class="left">&nbsp;</div>
            <div><img ></div>
            <div class="right">
               <h3>JULY2012</h3>
               <p>Our Humble Beginnings</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div class="clearfix"></div>
         </li>
         <li>
            <div class="left">
               <h3>JULY2012</h3>
               <p>Our Humble Beginnings</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
               <p>Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
            </div>
            <div><img ></div>
            <div class="right"></div>
            <div class="clearfix"></div>
         </li>
      </ul>
   </div>
<!-- about end -->

<!-- team -->
   <div class="team" id="team">
      <h1>OUR AMAZING TEAM</h1>
      <h2>Proin inculis purus consequat sem cure.</h2>
      <ul class="column">
         <li class="list">
            <img class="img">
            <h3>JULY2012</h3>
            <h4>Our Humble Beginnings</h4>
            <ol>
               <li><img></li>
               <li><img></li>
               <li><img></li>
               <div class="clearfix"></div>
            </ol>
         </li>
          <li class="list">
            <img class="img">
            <h3>JULY2012</h3>
            <h4>Our Humble Beginnings</h4>
            <ol>
               <li><img></li>
               <li><img></li>
               <li><img></li>
            </ol>
         </li> 
         <li class="list">
            <img class="img">
            <h3>JULY2012</h3>
            <h4>Our Humble Beginnings</h4>
            <ol>
               <li><img></li>
               <li><img></li>
               <li><img></li>
            </ol>
         </li>
         <div class="clearfix"></div>
      </ul>
      <div class="tip">Proin inculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</div>
   </div>
<!-- team end -->
 <div class="nav_bottom">
         <ul>
            <li><a href="#">首页</a></li>
            <li><div class="new">new</div><a href="#">服务</a></li>
            <li><a href="#">产品</a></li>
            <li><a href="#">案例</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#about">联系</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">联系</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">联系</a></li>
            <div class="clearfix"></div>
         </ul>
         
      </div>
</body>
</html>
