.salert{
    width:500px;
    height:30px;
    line-height:30px;
    background:rgba(0,0,0,0.3);
    position:absolute;
    display:none;
    margin:0 auto;
    color:#f00;
    text-align:center;
    border-radius: 5px;
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
.bg{
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background: url("../imges/login-bg.jpg") no-repeat;
}
.form-box{
    position:absolute;
    width:504px;
    height:304px;
    background:rgba(0,0,0,.4);
    border-radius: 20px;
}
.form-box .input-text,.form-box .login,.form-box .regist{
    width:300px;
    height:30px;
    margin-top:10px;
    margin-bottom:10px;
    display: block;
    margin:30px auto 30px;
}
.form-box .login{
    border-radius: 6px;
    background-color:#af0 ;
    cursor: pointer;
    text-align: center;
    line-height:30px;
}
.form-box .regist{
    border-radius: 6px;
    background-color:#f60 ;
    cursor: pointer;
    text-align: center;
    line-height:30px;
}