/*css reset,清除元素默认样式*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-transition: all 0.5s;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
body{
    font-size:14px;
    font-family:'arial';
    background:#fff;
    color:#333;
}
a{
    text-decoration:none;
    color:#333;
}
a:hover{
    color:#00AE66;
}
ul,li,table,tr,td,dl,dt,dd{
    list-style:none;
    margin:0;
    padding:0;
}
/*头部*/
header{
    width:100%;
    height:427px;
}
.anim{
    width:100%;
}
/*中间，思路是让det-box里面的三个div块全部浮动，让三个块元素能够处于一行*/
.det-box{
    width:100%;
    height:500px;
}
/*中间的左边*/
.det-box-left{
    float:left;
    width:22%;
    height:500px;
    border-right: 1px solid #999;
}
.det-box-left>.title{
    width:90%;
    height:20px;
    margin:20px auto 0;
}
.det-box-left>.title>span{
    float:left;
    width:150px;
    height:20px;
    line-height:20px;
    fonst-size:15px;
    font-weight: bold;
}
.det-box-left>.title>a,.det-box-main>.title>a{
    float:right;
    width:60px;
    height:20px;
    line-height:20px;
    font-size: 12px;
    border:1px solid #ddd;
    border-radius: 2px;
    background:#999;
    color:#fff;
    text-align:center;
}
.det-box-left>ul{
    width:100%;
    padding:10% 20%;
}
.det-box-left>ul>li{
    width:100%;
    height:20px;
    line-height:25px;
    text-align:left;
    margin-bottom:5px;
    color:blue;
    padding-right:25px;
    background:url(../img/new.png) no-repeat top right;
}
.det-box-left>ul>li>span{
    color:#e4393c;
}
/*中间的中间*/
.det-box-main{
    float:left;
    width:56%;
    height:500px;
    border-right: 1px solid #999;
}
.det-box-main>.title{
    width:90%;
    height:50px;
    margin:20px auto 0;
}
.det-box-main>.title>.logo{
    float:left;
    margin-top:-15px;
}
.det-box-main>.title>span{
    float:left;
    margin-left:250px;
    font-size:20px;
    font-weight:bold;
}
.det-box-main>nav{
    width:85%;
    height:450px;
    margin:0 auto;
}
.det-box-main>nav>ul{
    width:100%;
    height:30px;
    margin-bottom:20px;
}
.det-box-main>nav>ul>li{
    width:120px;
    float:left;
    background-color: #130909;
    font-size:20px;
    font-weight:bold;
    height:25px;
    line-height:25px;
    text-align: center;
}
.det-box-main>nav>ul>li>a{
    color:#fff;
}
.det-box-main>nav>ul>li.hover{
    color: #fff;
    background-color: #5a840a;
}
.det-box-main .con-box{
    width:100%;
    clear: both;
    position:relative;
    height:360px;
}
.det-box-main .con-box>div{
    display:none;
}
.det-box-main .con-box>div.show{
    display: block;
}
.det-box-main>nav .con-box .con{
    float:left;
    width:212px;
    margin-bottom: 15px;
    cursor: pointer;
}
.list{
    position:absolute;
    bottom:10px;
    right:20px;
    height:20px;
}
.det-box-main>nav .con-box .list>li{
    color:#000;
    width:50px;
    height:20px;
    line-height:20px;
    text-align:center;
    float:left;
}
.det-box-main>nav .con-box .list>li:hover{
    background: #7DCFA0;
}
.det-box-main .con-box .con>.con-left{
    float:left;
    width:82px;
}
.det-box-main .con-box .con>.con-right{
    float:right;
    width:130px;
}
.det-box-main .con-box .con>.con-right>p{
    width:130px;
    height:20px;
    line-height:20px;
    font-weight: bold;
    margin-bottom:5px;
}
.det-box-main>nav>.con-box>.con>.con-right>span{
    width:130px;
}
/*中间的右边*/
.det-box-right{
    float:left;
    width:22%;
    height:500px;
}
.det-box-right>.title{
    height:20px;
    line-height:20px;
    text-align:center;
    font-weight: bold;
    margin:30px auto;
}
.det-box-right>.pic{
    width:80%;
    height:500px;
    margin:0 auto;
}
/*底部胡歌*/
footer>img{
    width:100%;
}
