<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    
    <link rel="stylesheet" type="text/css"  href="http://localhost/top_four/public/static/css/bootstrap.min.css">
</head>
<body class="container">
        <center><h1>用户管理</h1></center>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                 <div class="col-md-4">
                    <a href="{:url('add')}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;添加用户</a>
                </div>
                <div class="col-md-8  text-right">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">姓名</label>
                            <input name="name" type="text" class="form-control" placeholder="姓名..." value="{:input('get.name')}">
                        </div>
                        <button type="submit" class="btn btn-default">查询</button>
                    </form>
                </div>     
            </div>
            <hr />
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="info text-center">
                        <th class="text-center">权限等级</th>
                        <th class="text-center">姓名</th>
                        <th class="text-center">性别</th>
                        <th class="text-center">手机号</th>
                        <th class="text-center">用户名</th>
                        <th class="text-center">注册时间</th>
                        <th class="text-center">最后登录时间</th>
                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                <!--循环输出列表-->
                <tbody>
                    {volist name="Users" id="User" key="key"}
                    <tr class="text-center">
                        <!--<td>{$key}</td>-->
                        <!--<td>{eq name='User->getData("user_sex")' value='0'}男{else /}女{/eq}</td>-->
                        <td>{$User->getData('group_id')}</td>
                        <td>{$User->getData('user_name')}</td>
                        <td>{$User->getData('user_sex')}</td>
                        <td>{$User->getData('user_phone')}</td>
                        <td>{$User->getData('user_account')}</td>
                        <td>{$User->getData('user_register_time')}</td>
                        <td>{$User->getData('user_last_login')}</td>
                        <td> <a href="{:url('edit?id=' . $User->getData('user_id'))}" class="btn btn-info btn-sm">管理</a>&nbsp;&nbsp;&nbsp;
                                <a href="{:url('del?id=' . $User->getData('user_id'))}" class="btn btn-danger btn-sm">删除</a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            <center>{$Users->render()}</center>
        </div>
    <!--测试，输出User对象-->
    <!--{:var_dump($Users)}-->
</body>
</html>

